<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>snchong.launchbar-unicode</string>
    <key>CFBundleIconFile</key>
    <string>font-awesome:fa-keyboard-o</string>
    <key>CFBundleName</key>
    <string>Unicode</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.10</string>
    <key>LBAbbreviation</key>
    <string>symbol</string>
    <key>LBDescription</key>
    <dict>
      <key>LBArgument</key>
      <string>Search string for Unicode character. Characters can be searched by name, hex code, or decimal code.</string>
      <key>LBSummary</key>
      <string>This action allows the user to search for and insert Unicode characters. Pass a string argument to the action to search by name, hex code or decimal. With no argument, the action allows browsing Unicode characters by category. </string>
      <key>LBAuthor</key>
      <string>Stephen Chong</string>
      <key>LBWebsiteURL</key>
      <string>https://github.com/snchong/launchbar-unicode</string>
      <key>LBUpdateURL</key>
      <string>https://raw.githubusercontent.com/snchong/launchbar-unicode/latest-release/Unicode.lbaction/Contents/Info.plist</string>
      <key>LBDownloadURL</key>
      <string>https://www.dropbox.com/s/cx0rlhyma4i7irn/Unicode.lbaction?dl=1</string>
      <key>LBChangelog</key>
      <string>1.0.2: Support for action update.</string>
    </dict>
    <key>LBScripts</key>
    <dict>
      <key>LBDefaultScript</key>
      <dict>
	<key>LBScriptName</key>
	<string>default.js</string>
	<key>LBKeepWindowActive</key>
	<true/>
	<key>LBResultType</key>
	<string>unknown</string>
	<key>LBReturnsResult</key>
	<true/>
	<key>LBAllowsInstantReuseOfLastTextInputString</key>
	<true/>
	<key>LBAcceptedArgumentTypes</key>
	<array>
	  <string>string</string>
	</array>
	
      </dict>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2020 Stephen Chong.</string>
  </dict>
</plist>
